---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ivan Radev - Frontend Developer Portfolio - Contacts">
  <div>test</div>
</Layout>

<style>
  .hidden {
    display: none;
  }
</style>
