---
const { route } = Astro.props;
---

<a
  hx-get=`/show-info?page=${route}`
  hx-target="#info-cont"
  hx-swap="outerHTML"
  data-astro-prefetch
  class="info-btn button"
  ><span>Info</span>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="10"
      viewBox="0 0 320 512"
    >
      <path
        d="M80 160c0-35.3 28.7-64 64-64h32c35.3 0 64 28.7 64 64v3.6c0 21.8-11.1 42.1-29.4 53.8l-42.2 27.1c-25.2 16.2-40.4 44.1-40.4 74V320c0 17.7 14.3 32 32 32s32-14.3 32-32v-1.4c0-8.2 4.2-15.8 11-20.2l42.2-27.1c36.6-23.6 58.8-64.1 58.8-107.7V160c0-70.7-57.3-128-128-128H144C73.3 32 16 89.3 16 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm80 320a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"
      ></path></svg
    >
  </div>
</a>
<style>
  a {
    width: 3vh;
    height: 3vh;
    position: fixed;
    top: 48.5vh;
    left: 4vmin;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;

    transition:
      box-shadow 400ms,
      color 1400ms,
      background-color 1200ms;

    & > div {
      display: none;
    }

    &:hover {
      color: black;
      box-shadow:
        0 0 15px inset white,
        0 0 15px white,
        0 0 30px white;
      background-color: white;
    }
  }

  .active {
    color: black;
    box-shadow:
      0 0 15px inset white,
      0 0 15px white,
      0 0 30px white;
    background-color: white;
  }

  @media only screen and (max-width: 1700px) {
    a {
      width: 0.3vh;
      height: 0.3vh;
    }
    span {
      display: none;
    }

    div {
      display: block !important;

      & > svg {
        filter: invert(100%);
        transform: scale(1.2);
      }
    }
  }
</style>
